@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");

.App {
  text-align: center;
}

html,
body {
  background: #1f1f1f;
  min-height: 100vh;
}

.navbar {
  padding: 3% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}

.button {
  background: #fff;
  color: #1f1f1f;
  padding: 0.7rem 1.7rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.hero {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-left {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-right img {
  max-width: 500px;
}

.hero-text {
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.hero-text h1 {
  font-size: 4rem;
  margin: 0;
  font-family: "Rowdies", cursive;
  margin-bottom: 3%;
}

.yellowspan {
  color: #ff006b;
}

.pinkspan {
  color: #fedc00;
}

.input-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 90%;
  max-width: 800px;
  border: 1px solid #fff;
  border-radius: 35px;
  padding: 0;
}

.input-holder input {
  background: transparent;
  border: none;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  outline: none;
  margin-left: 20px;
}

.input-holder button {
  background: #fff;
  color: #1f1f1f;
  padding: 0.7rem 1.7rem;
  border: none;
  font-size: 2.4rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0 35px 35px 0;
}

.slides {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 10%;
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.slide {
  background: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: row !important;
  padding: 3%;
  aspect-ratio: 16/9;
  justify-content: center;
  align-items: center;
}

.slide-text {
  font-size: 3rem;
  font-weight: 600;
  width: 80%;
}
.slide-image {
  width: 50%;
  /* padding: 5%; */
}
.slide-image img {
  width: 100%;
  border-radius: 15px;
}

.slide:nth-child(2n) {
  flex-direction: row-reverse !important;
}
